.navbar-container {
    height: 80px;
    border: 1px solid black;
    display: flex;
    text-align: center;
    width: 100vw;
    font-size: 20px;
    div {
        display: flex;
        align-items: center;
        .navbar-list {
            width: 100%;
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        } 
        
        .navbar-logo {
            width: 90px;
        }
        
    }
} 

